
<div class="box">
    <h2>Edit  Ad</h2>
    <ul>
        <li ng-repeat="ad in userAdById">
            {{ad}}
        </li>
    </ul>
    <p>
        <label for="title">Title:</label>
        <input type="text" id="title" ng-model="userAdById.title" required value="{{userAdById.title}}" />
    </p>

    <p>
        <label for="textField">Text:</label>
        <textarea id="textField"  required></textarea>
    </p>

    <p>
        <label for="category">Category:</label>
        <select id="category" ng-model="adData.categoryId " required>
            <option value="null">(None)</option>
            <option ng-repeat="c in categories" value="{{c.id}}">{{c.name}}</option>
        </select>
    </p>

    <p>
        <label for="town">Town:</label>
        <select id="town" ng-model="adData.townId" required>
            <option value="null">(None)</option>
            <option ng-repeat="town in towns" value="{{c.id}}">{{town.name}}</option>
        </select>
    </p>

    <p>
        <label for="image">Image:</label>
        <input type="file" id="image" onchange="angular.element(this).scope().fileSelected(this)" />
        <div class="image-box">
    <p>Image Preview</p>
</div>
    </p>
<p>
    <a  class="button">Publish</a>
    <a href="#/user/ads" class="button">Cancel</a>
<p>
    </div>
