<!--<div class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li><a href="#/">Home</a></li>
        <li><a href="#/login">Login</a></li>
        <li><a href="#/register">Register</a></li>
    </ul>
</div>-->
<div ng-if="authService.isAnonymous()" class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li><a href="#/">Home</a></li>
        <!--<li><a href="#/login">Login</a></li>-->
        <!-- TODO: add “Register” link -->
    </ul>
</div>

<!-- Login / register box for anonymous site visitors -->
<div class="box" ng-if="authService.isAnonymous()">
    <p>To publish a new ad, please login.</p>
   
    <a href="#/login" class="button">Login</a>
    <a href="#/register" class="button">Register</a>
</div>


<!-- Navigation box for logged in normal users (not admins) -->
<div ng-if="authService.isNormalUser()" class="box">
    <h2>Navigation</h2>      
    <ul class="sidebar-menu">
        <li><a href="#/" ng-click="HideMyAdsMenu()">Home</a></li>
       
        <li><a href="#/user/UserAds" ng-click="ShowMyAds()">My Ads</a></li>
        <li><a href="#/user/publish-new-ad" ng-click="HideMyAdsMenu()">Publish New Ad</a></li>
    
        <li><a href="#/user/editProfile" ng-click="HideMyAdsMenu()">Edit Profile</a></li>
        <li><a ng-click="logout()">Logout</a></li>
    </ul>
</div>

<div ng-show="showMyAds" class="box">
    <h2>My Ads</h2>
    <ul class="sidebar-menu">
        <li class="special" >
            All
        </li>
        <li><a href="#/" >Published</a></li>
        <li><a href="#/">Waiting for Approval</a></li>
        <li><a href="#/">Inactive</a></li>
        <li><a href="#/">Rejected</a></li>
    </ul>
</div>

<div ng-if="authService.isAdmin()" class="box">
    <h2>Admin Navigation</h2>
    <!-- TODO: implement the “Admin” navigation sidebar -->
</div>

